# Config file cobbled together from a reddit post and the Klipper example SKR Mini file.
[mcu]
serial: /hostdevices/serial/by-id/usb-Klipper_stm32f103xe_37FFD9054246383416870857-if00


[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PB15
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC6
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
# endstop_pin: ^PC2
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0.0
position_min: -2
position_max: 250

[tmc2209 stepper_z]
uart_pin: PC10
run_current: 0.580
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250
pressure_advance: 0.4 # 20mm * 0.02 (measured height 18-Mar-22)

[tmc2209 extruder]
uart_pin: PC11
run_current: 0.650
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA8
cycle_time: 0.1 # PWM on time (seconds). 
kick_start_time: 0.5
off_below: 0.13 # for my fan
max_power: 0.60 # should be enough


[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000 # determined by resonance testing 17-Mar-22
max_z_velocity: 5
max_z_accel: 100

[input_shaper]
shaper_freq_x: 38.4 # 100mm/sec * 4 waves / 10.4mm = 38.4 hz
shaper_freq_y: 46.5 # 100 * 4 / 8.6mm = 46.5



[static_digital_output usb_pullup_enable]
pins: !PC13

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5, EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PB6, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB7, EXP1_10=<5V>

[bltouch]
sensor_pin: ^PC14 # correct for SKR mini probe socket
control_pin: PA1
x_offset: -45 # 108-153
y_offset: -12 # 77-89
z_offset: 0.62 # lower numbers raise the probe off the bed, high numbers squish it down
#pin_move_time: 0.4

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 10, 20
mesh_max: 185, 210
probe_count: 4
fade_start: 1.0
mesh_pps: 2,2

[gcode_macro G29]
gcode:
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE
    BED_MESH_OUTPUT

[safe_z_home]
home_xy_position: 140,110
speed: 100.0
z_hop: 5.0
z_hop_speed: 10.0

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

[output_pin beeper]
pin: EXP1_1



# This adds a screw tilt adjust command that probes certain points on the bed and recommends new bed screw positions (turn clockwise this much etc)
[screws_tilt_adjust]
screw1: 50,50
screw1_name: Front left screw
screw2: 50,215
screw2_name: Rear left screw
screw3: 215,50
screw3_name: Front right screw
screw4: 215,215
screw4_name: Rear right screw
horizontal_move_z: 10
speed: 250
screw_thread: CW-M3

